.CartWiget button{
padding: 10px;
font-size: 15x;
background-color: #C4DAD2;
border: none;   
outline: none; 
cursor: pointer;
border-radius: 10px;
}
.CartWiget button:hover{
      background-color: #E9EFEC;
}